<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}VoyaTrax Project{% endblock %} - FlexCon</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
        <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
			<script type="text/javascript">
				window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"policy","theme":"dark-top"};
			</script>

			<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
		<!-- End Cookie Consent plugin -->
		
    </head>
    <body>

        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="{{ path('flex_con_cms_homepage') }}">Home</a></li>
                                <li><a href="{{ path('flex_con_cms_about') }}">About</a></li>
                                <li><a href="{{ path('flex_con_cms_contact') }}">Contact</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

                <hgroup>
                    <h2>{% block blog_title %}<a href="{{ path('flex_con_cms_homepage') }}">FlexCon</a>{% endblock %}</h2>
                    <h3>{% block blog_tagline %}<a href="{{ path('flex_con_cms_homepage') }}">FUN | FAST | SECURE'</a>{% endblock %}</h3>
                </hgroup>
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                    FlexCon &copy; {{ "now"|date ("Y") }} <a href="http://jmcoleman.eu" target="_blank">JMColeman</a> for the <a href="http://voyatrax.org" target="_blank">VoyaTrax Project</a><br> <font size="-2">Based on Symfony2 blog tutorial - created by <a href="https://github.com/dsyph3r" target="_blank">dsyph3r</a></font><br><br>
                    <a href="{{ path('flex_con_cms_terms') }}">Terms of Use</a> | <a href="{{ path('flex_con_cms_policy') }}">Privacy Policy</a> | <a href="{{ path('flex_con_cms_license') }}">License(s)</a> | <a href="{{ path('flex_con_cms_imprint') }}">Imprint</a>
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>
