{# src/FlexCon/CmsBundle/Resources/views/Comment/form.html.twig #}

<form action="{{ path('flex_con_cms_comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post" class="blogger">{{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
