{# src/FlexCon/CmsBundle/Resources/views/Page/contact.html.twig #}
{% extends 'FlexConCmsBundle::layout.html.twig' %}


{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact Us</h1>
    </header>
    
    {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
    <div class="blogger-notice">
     {   { flashMessage }}
    </div>
    {% endfor %}

    <p>
        Donec imperdiet ante sed diam consequat et dictum erat faucibus. Aliquam sit
        amet vehicula leo. Morbi urna dui, tempor ac posuere et, rutrum at dui.
        Curabitur neque quam, ultricies ut imperdiet id, ornare varius arcu. Ut congue
        urna sit amet tellus malesuada nec elementum risus molestie. Donec gravida
        tellus sed tortor adipiscing fringilla.
    </p>
    
    <form action="{{ path('flex_con_cms_contact') }}" method="post" class="blogger">{{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}
