{# src/FlexCon/CmsBundle/Resources/views/Page/imprint.html.twig #}
{% extends 'FlexConCmsBundle::layout.html.twig' %}


{% block title %}Imprint{% endblock%}

{% block body %}
    <header>
        <h1>Imprint</h1>
    </header>
    <article>
        <p>     
		<h3>Site Owner</h3>
			John Example<br>
			Example Street. 1<br>
			11111 Example City<br>
			Country<br>
		<br><br>
		<h3>Contact</h3>
			Telephone: +00 666 666 666 66<br>
			Fax: +00 666 666 666 66<br>
		<br>
			E-Mail: <a href="mailto:john@example.com">john@example.com</a><br>
		<br>
			WWW: <a href="http://www.example.com" target="_blank">www.example,com</a><br>
		<br><br>
		<h3>Content responsiblity</h3>
			John Example<br>
			Example Street. 1<br>
			11111 Example City<br>
			Country<br>
		<br><br>
		<h3>Images and graphics source</h3>
			<a href="http://www.example.com" target="_blank">www.example.com</a><br><br>
		</p>
    </article>
{% endblock %}
