{# src/FlexCon/CmsBundle/Resources/views/Page/license.html.twig #}
{% extends 'FlexConCmsBundle::layout.html.twig' %}

{% block title %}License{% endblock%}

{% block body %}
	<header>
		<h1>Licenses used</h1>
	</header>
    <article>
		<p><b>NOTE:</b> The following applies unless otherwise noted.</p>
		<p>
			<h2>Software:</h2>
				The MIT License (MIT)<br>
			<br>
				Copyright (c) 2014-{{ "now"|date ("Y") }} JMColeman<br>
			<br>
				Permission is hereby granted, free of charge, to any person obtaining a copy<br>
				of this software and associated documentation files (the "Software"), to deal<br>
				in the Software without restriction, including without limitation the rights<br>
				to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
				copies of the Software, and to permit persons to whom the Software is<br>
				furnished to do so, subject to the following conditions:<br>
			<br>
				The above copyright notice and this permission notice shall be included in<br>
				all copies or substantial portions of the Software.<br>
			<br>
				THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
				IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
				FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
				AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
				LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
				OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN<br>
				THE SOFTWARE.
		</p>
		<p>
			<h2>Documentation:</h2>
				<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />Documentation is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
		</p>
		<p>
			<h2>Copyrighted:</h2>
				Logos, Tradmarks, images, etc., that represent the VoyaTrax Project are to be considered copyright Jimmy M. Coleman and/or the Project itself.<br>For details contact the <a href="mailto://license@voyatrax.org">license department</a>.
		</p>
    </article>
{% endblock %}
