{# src/FlexCon/CmsBundle/Resources/views/Page/policy.html.twig #}
{% extends 'FlexConCmsBundle::layout.html.twig' %}


{% block title %}Privacy Policy{% endblock%}

{% block body %}
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <article>
        <p>Privacy Policy info coming soon.</p>
    </article>
{% endblock %}
