{# src/FlexCon/CmsBundle/Resources/views/Page/terms.html.twig #}
{% extends 'FlexConCmsBundle::layout.html.twig' %}


{% block title %}Terms{% endblock%}

{% block body %}
    <header>
        <h1>Terms of Use</h1>
    </header>
    <article>
        <p>Some sort of terms can be hardcoded here, we will added this to the backend at some point.</p>
    </article>
{% endblock %}
