{# src/FlexCon/CmsBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/flexconcms/css/blog.css') }}" type="text/css" rel="stylesheet" />
    
    <link href="{{ asset('bundles/flexconcms/css/sidebar.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}



{% block sidebar %}
   {{ render(controller( 'FlexConCmsBundle:Page:sidebar' )) }}
{% endblock %}

